@import "/src/App.scss";
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
$gradient-start: #1d1f20;
$gradient-end: #2e3031;

#Home {
  @include flex(column, flex-start, center);
  @include radial-gradient($gradient-start, $gradient-end);
  color: white;
  height: 100vh;
  header {
    @include flex(column, center, center);
    font-family: "Marck Script", cursive;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    //border-bottom: 1px solid goldenrod;
    color: goldenrod;
    .buttons-wrapper {
      width: 100%;
      @include flex(row, flex-end, center);
      //margin: 0.25rem;
      button {
        background-color: transparent;
        border: 1px solid goldenrod;
        width: 60px;
        border-radius: 5px;
        color: goldenrod;
        font-size: 0.5rem;
        padding: 0.5rem;
        box-shadow: 0 0 4px 2px whitesmoke;
        margin: 0.5rem;
        &:hover {
          background-color: goldenrod;
          color: white;
        }
      }
    }
  }
  /* #Login {
    margin-top: 1rem;

    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(175, 173, 169);
    padding: 2rem;
    form {
      display: flex;
      flex-direction: column;
    }
    input {
      margin: 0.5rem;
    }
    button {
      margin-top: 1rem;
    }
  } */

  .message-box {
    h2 {
      font-family: "Marck Script", cursive;
      font-size: 1.5rem;
      text-align: center;
      color: white;
      margin: 1rem;
    }
  }

  .card-of-the-day {
    @include flex(column, center, center);

    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    img {
      border: 1px solid goldenrod;
      border-radius: 10px;
      box-shadow: 0 0 10px 5px goldenrod;
      width: 200px;

      object-fit: cover;
    }
    h3 {
      font-family: "Marck Script", cursive;
      font-size: 1.25rem;
      text-align: center;
      color: whitesmoke;
      margin: 1rem;
      padding: 1rem;
    }
  }

  #card-of-the-day-button {
    background-color: transparent;
    border: 1px solid goldenrod;
    border-radius: 20px;
    color: goldenrod;
    font-family: "Marck Script", cursive;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 4px 2px whitesmoke;
    &:hover {
      background-color: goldenrod;
      color: white;
    }
  }
}
